# Project exclude paths
/annotation-processor/target/
/example/target/
/runtime/target/
/.idea
/jmh/target/
/jmh/src/main/data/person.txt
/jmh/src/main/data/person10Columns.txt
/jmh/src/main/data/personLongName.txt
/checker/target/
/checker/dist/
/checker/src/test/sample/results/
